.container{
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;
}

h1{
  text-align: left;
}

.books-container {
  display: flex;
  width: 100%;
  padding-top: 5em;
}

.books-form{
  width: 50%;
  padding: 2em;
}

.books-grid{
  width: 50%;
  padding: 2em;
}

form .form-group {
  margin-bottom: 1em;
}

form label{
  display: block;
}

